/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-09-09 19:03 (GMT+0900)
 */

* {
  // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

button {
  user-select: none;
}

img {
  user-select: none;
  -webkit-touch-callout: none;
}

ul, ol, li {
  list-style: none;
}
