/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-09-11 13:03 (GMT+0900)
 */

// flex
.flex {
  display: flex;
  align-items: center;
}

.flex-inline {
  display: inline-flex;
  align-items: center;
}

.flex-center {
  @extend .flex;
  justify-content: center !important;
}

.flex-end {
  @extend .flex;
  justify-content: flex-end !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

